.gallery-card {
  position: relative;

  overflow: hidden;

  &__img {
    height: 340px;
    width: 340px;
    border-radius: 10px;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    font-size: 18px;
  }
}

/*************************
* PHONES < 768px
*************************/

@media (max-width: 768px) {
  .gallery-card {
    &__img {
      height: 255px;
    }
  }
}
