.accomodation {
  max-width: 1240px;
  margin: 0 auto;

  &__flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    align-items: stretch;
  }

  &__details {
  }

  &__details-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-size: 36px;
    margin-bottom: 5px;
  }

  &__location {
    font-size: 18px;
    margin-bottom: 25px;
  }

  &__host {
    display: flex;
    align-items: center;

    &-name {
      font-size: 18px;
      font-weight: 300;
      width: 100px;
      text-align: right;
    }

    &-picture {
      margin-left: 10px;
      width: 64px;
      height: 64px;
      border-radius: 100%;
    }
  }

  &__tags {
    display: flex;
    gap: 10px;
  }

  &__collapses-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__collapse-container {
    width: 48%;
  }
}

/*************************
* PHONES < 768px
*************************/

@media (max-width: 768px) {
  .accomodation {
    width: 90vw;

    &__flex-container {
      flex-direction: column;
      gap: 20px;
    }

    &__details-right {
      display: flex;
      flex-direction: row-reverse;
    }

    &__title {
      font-size: 18px;
    }

    &__location {
      font-size: 14px;
    }

    &__host {
      &-name {
        font-size: 12px;
        width: 80px;
      }

      &-picture {
        width: 32px;
        height: 32px;
      }
    }

    &__collapses-container {
      flex-direction: column;
    }

    &__collapse-container {
      width: 100%;
    }
  }
}
