.accomodation {
  max-width: 1240px;
  margin: 0 auto;

  &__cover {
    height: 415px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    margin-bottom: 30px;
  }

  &__title {
    font-size: 36px;
  }

  &__location {
    font-size: 18px;
  }

  &__host {
    display: flex;
    align-items: center;

    &-name {
      font-size: 18px;
      font-weight: 300;
      width: 100px;
      text-align: right;
    }

    &-picture {
      margin-left: 10px;
      width: 64px;
      height: 64px;
      border-radius: 100%;
    }
  }

  &__tags {
    display: flex;
    gap: 10px;
  }
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.flex-start {
  align-items: flex-start;
}

.collapse-container {
  width: 48%;
}
