.collapse {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff6060;
    padding: 8px;
    border-radius: 5px;
  }

  &__title {
    color: #fff;
  }

  &__arrow {
    height: 32px;
    margin-right: 5px;
  }

  &__arrow--down {
    transform: rotate(0);
    transform-origin: center;
    transition: transform 0.3s;
  }

  &__arrow--up {
    transform: rotate(180deg);
    transition: transform 0.3s;
  }

  &__details--open {
    max-height: 300px;
    opacity: 1;
    padding: 10px;
    background-color: #f6f6f6;
    transition: all 0.2s;
  }

  &__details--collapsed {
    max-height: 0;
    opacity: 0;
    padding: 10px;
    padding-top: 0;
    background-color: #fff;
    transition: all 0.2s;
  }
}

/*************************
* PHONES < 768px
*************************/

@media (max-width: 768px) {
  .collapse {
    &__menu {
      padding: 4px;
    }
    &__title {
      font-size: 13px;
    }
    &__arrow {
      width: 24px;
    }
    &__details {
      font-size: 12px;
    }
  }
}
