.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 20px 0px;
  font-size: 24px;
  max-width: 1240px;
  margin: 0 auto;

  &__logo {
    width: 210px;
  }

  &__links {
    display: flex;
  }

  &__link {
    margin-left: 50px;
    text-decoration: none;
    color: #ff6060;

    &--active {
      text-decoration: underline;
    }

    /*  &:hover {
      
    } */

    /*  &:visited,
    &:active {
      color: currentColor;
    } */
  }
}
