.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px 0px;
  font-size: 24px;

  &__logo {
    width: 210px;
  }

  &__links {
    display: flex;
  }

  &__link {
  }
}
