.gallery {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 25px;
}

/*************************
* PHONES < 768px
*************************/

@media (max-width: 768px) {
  .gallery {
    background-color: transparent;
    padding: 0px;
  }
}
