.carousel {
  position: relative;

  &__img--active {
    height: 415px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    margin-bottom: 20px;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &:hover {
    }
  }

  &__next {
    right: 10px;
  }

  &__prev {
    left: 10px;
  }
}

/*************************
* PHONES < 768px
*************************/

@media (max-width: 768px) {
  .carousel {
    &__img--active {
      height: 255px;
    }

    &__arrow {
      width: 25px;
    }
  }
}
