.banner {
  // position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;

  &__img {
    height: 240px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
  }

  &__title {
    font-size: 48px;
    color: #fff;
    position: absolute;
  }
}

/*************************
* PHONES < 768px
*************************/

@media (max-width: 768px) {
  .banner {
    max-width: 90vw;
    margin: 0 auto;
    margin-bottom: 20px;

    &__title {
      font-size: 24px;
      line-height: 24px;
      margin-left: 25px;
    }

    &__img {
      height: 110px;
      width: 100%;
      border-radius: 15px;
    }
  }
}
