.error {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > img {
    margin-bottom: 120px;
    margin-top: 120px;
  }

  & > h2 {
    font-size: 36px;
    margin-bottom: 120px;
    text-align: center;
  }

  &__link {
    color: currentColor;
    font-size: 18px;
    margin-bottom: 120px;
  }
}

/*************************
* PHONES < 768px
*************************/

@media (max-width: 768px) {
  .error {
    & > img {
      width: 200px;
    }

    & > h2 {
      width: 260px;
      font-size: 18px;
    }

    &__link {
      font-size: 14px;
    }
  }
}
